.date_num{
    height: 35px;
    line-height: 35px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    float: left;
}